<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{ifset title}{include title|stripHtml} | {/ifset}Evidence projektů</title>
    <link rel="stylesheet" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{$basePath}/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/happy/dist/happy.css">
    <link rel="stylesheet" href="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid.css">
    <link rel="stylesheet" href="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.css">
    <link rel="stylesheet" href="{$basePath}/bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{$basePath}/style.css">
</head>

<body>


<div id="wrap">
    <div class="container">
        {include 'flashMessages.latte'}
        {include content}
    </div> <!-- /container -->
    <div id="push"></div>

</div>
<footer class="footer">
    <div class="container">
        <p><a n:href="Homepage:default">Přehled projektů</a></p>
    </div>
</footer>


{block scripts}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{$basePath}/bower_components/jquery/dist/jquery.js"></script>
    <script src="{$basePath}/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script src="{$basePath}/bower_components/nette-forms/src/assets/netteForms.min.js"></script>
    <script src="{$basePath}/bower_components/nette.ajax.js/nette.ajax.js"></script>

    <script src="{$basePath}/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="{$basePath}/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.cs.min.js"></script>

    <script src="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid.js"></script>
    <script src="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-instant-url-refresh.js"></script>
    <script src="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.js"></script>

    <script type="text/javascript">
        //datepicker - pro grid ublaboo
        $(document).ready(function(){
            $.fn.datepicker.defaults.language = 'cs';
            $.fn.datepicker.defaults.autoclose = true;
            $.fn.datepicker.defaults.format = 'dd.mm';
        });
        /*form input*/
        $('.datepicker.form-control.text').datepicker({
            language: "cs",
            format: 'dd.mm.yyyy',
            autoclose: true,
        });

    </script>
{/block}
</body>
</html>
