{block content}

<h1 n:block=title>Přehled projektů</h1>

<a href="{link Homepage:edit}"><span class="glyphicon glyphicon-plus"></span> Přidat nový projekt</a>
<div class="row">
    <div class="col">
        {control projektGridControl}
    </div>
</div>
