parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	#model
	- App\Model\Projekt
	#forms
	- App\Forms\FormFactory
	#components
	- Cntrl\IProjketFormFactory
	- Cntrl\IProjektGridFactory

forms:
    messages:
        REQUIRED: "Hodnota je vyžadována"
